$color-1:rgb(255, 118, 27);
$color-2:rgba(255,118,27,.5);
$color-3:#ff822f;
$color-4:rgb(255,103,2);
$color-5:#ff4d4d;
$color-6:#ff3838;
$color-blueDark:#34495e;
$color-navbar:rgba(224, 224, 224,.7);
$color-blueDark-2: #1B1464;
$color-blueDark-3:#130f40;
$color-gray:#6c757d;

$color-orange: rgb(255, 180, 44);
$color-blue :rgb(8, 43, 71);
$color-pink-light:#ff9797;

$color-light-2:#faf6fb;
$color-light-3:#e7e4e7;
$color-text:#959094;
$color-blue-2:#275EFE;
$color-blue-3:#07f;

$color-button:#00adef;
$color-white: #FAFBFF;
$color-black:#1E2235;

body {
    font-size: 100%;
    font-family: "IRANSans";
}