$color-1:rgb(255, 118, 27);
$color-2:rgba(255,118,27,.5);
$color-3:#ff822f;
$color-4:rgb(255,103,2);
$color-5:#ff4d4d;
$color-6:#ff3838;
$color-blueDark:#34495e;
$color-navbar:rgba(224, 224, 224,.7);
$color-blueDark-2: #1B1464;
$color-blueDark-3:#130f40;
$lineWidth: .5rem;
$baseMargin: .7rem;



body {
    font-family: "IRANSans";
}