@import "fonts";
@import "base";

div.tree-selector {
    div.container-fluid {
        display: flex;
        flex-direction: column;

        p.h5 {
            padding: 1rem 1.5rem;
        }

        div.container.main-checkbox {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100vh;
            width: 100%;
            div.form-check{
                display: flex;
                align-items: center;
              
                input.plus-minus {
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                    padding-right: 18px;
                    border-right: 1px solid #aaa;
                    // border: 4px solid $color-black;
                    // border-radius: 50% !important;
                }
                label.form-check-label{
                }
            }
          
        }
    }
}