@import "fonts";
@import "base";
@import "media";


div.tree-selector {
    div.container-fluid {
        display: flex;
        flex-direction: column;

        p.h5 {
            padding: 1rem 1.5rem;
        }

        ul.container-fluid.main-checkbox {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 94%;
            padding: 0;
            margin-right: 6%;
            margin-left: 0;

            li.row.list-item {
                width: 30%;
                height: min-content;

                span.ti-angle-left {
                    display: flex;
                    align-items: center;
                    font-weight: 900;
                    font-size: 80%;
                    height: 30px;
                    margin-left: 7px;
                }

                span.ti-angle-left.rotate {
                    transform: rotate(-90deg);
                }


                div.form-check {
                    display: flex;
                    padding-right: 0;
                    height: fit-content;
                    // width: 70%;

                    input.plus-minus {
                        opacity: 0;
                        position: absolute;
                        margin-right: 0;
                        cursor: pointer;
                        right: 15px;
                        top: 8px;
                        margin-top: 0
                    }

                    input.plus-minus:checked+label.form-check-label span {
                        background: $color-blue-3;
                        border-color: $color-blue-3;
                        animation: wave 0.4s ease;
                    }

                    input.plus-minus:checked+label.form-check-label span:first-child svg {
                        stroke-dashoffset: 0;
                    }

                    input.plus-minus:checked span.ti-angle-left {
                        transform: rotate(-90deg);
                    }

                    @keyframes wave {
                        50% {
                            transform: scale(0.9);
                        }
                    }

                    label.form-check-label {
                        cursor: pointer;
                        padding: 6px 3px;
                        overflow: hidden;
                        transition: all 0.2s ease;
                        // margin-right: 6px;
                        display: flex;
                        justify-content: center;
                        // width: 100%;

                        span {
                            float: right;
                            vertical-align: middle;
                            transform: translate3d(0, 0, 0);
                            position: relative;
                            width: 17px;
                            height: 17px;
                            border-radius: 4px;
                            transform: scale(1);
                            border: 1px solid $color-text;
                            transition: all 0.2s ease;
                            box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);

                            svg.check-mark {
                                position: absolute;
                                width: 12px;
                                height: 10px;
                                top: 3px;
                                left: 2px;
                                fill: none;
                                stroke: #fff;
                                stroke-width: 2;
                                stroke-linecap: round;
                                stroke-linejoin: round;
                                stroke-dasharray: 16px;
                                stroke-dashoffset: 16px;
                                transition: all 0.3s ease;
                                transition-delay: 0.1s;
                                transform: translate3d(0, 0, 0);
                            }

                            svg.inline-svg {

                                position: absolute;
                                width: 0;
                                height: 0;
                                pointer-events: none;
                                user-select: none;
                            }
                        }

                        a.label-link {
                            color: #000000;
                            text-decoration: none;
                            font-size: 90%;
                            padding-right: 4px;
                            outline: none;
                            padding-left: 8px;
                            line-height: 18px;

                        }

                    }
                }

                ul#level-2 {
                    padding: 0;
                    border: none;
                    margin-bottom: .3rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    // align-items: center;
                    position: relative;
                    right: 2rem;
                    top: .05rem;
                    width: 100%;


                    li.item-list {
                        padding-right: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        width: 110%;

                        &:hover {
                            background-color: transparent;

                        }

                        &:active {
                            background-color: transparent;
                            outline: none;
                        }

                        div.form-check {
                            display: flex;
                            justify-content: flex-start;

                            input.plus-minus.form-check-input {}

                            label.form-check-label {
                                display: flex;
                                justify-content: flex-start;
                                width: 100%;

                                span {
                                    svg.check-mark {}

                                    svg.inline-svg {
                                        symbol {}
                                    }
                                }

                                a.label-link {}
                            }
                        }

                        ul#level-3 {
                            padding: 0;
                            border: none;
                            margin-bottom: .3rem;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            // align-items: center;
                            position: relative;
                            right: 2rem;
                            top: .1rem;
                            width: 100%;

                            li.item-list {
                                padding-right: 0;
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;

                                &:hover {
                                    background-color: transparent;

                                }

                                &:active {
                                    background-color: transparent;
                                    outline: none;
                                }

                                div.form-check {
                                    display: flex;
                                    justify-content: flex-start;

                                    input.plus-minus.form-check-input {}

                                    label.form-check-label {
                                        display: flex;
                                        justify-content: flex-start;
                                        width: 100%;

                                        span {
                                            svg.check-mark {}

                                            svg.inline-svg {
                                                symbol {}
                                            }
                                        }

                                        a.label-link {}
                                    }
                                }

                                ul#level-4 {
                                    padding: 0;
                                    border: none;
                                    margin-bottom: .4rem;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    position: relative;
                                    right: 2rem;
                                    top: .05rem;
                                    width: 100%;

                                    li.item-list {

                                        padding-right: 0;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: flex-start;

                                        &:hover {
                                            background-color: transparent;

                                        }

                                        &:active {
                                            background-color: transparent;
                                            outline: none;
                                        }

                                        div.form-check {
                                            display: flex;
                                            justify-content: flex-start;

                                            input.plus-minus.form-check-input {}

                                            label.form-check-label {
                                                display: flex;
                                                justify-content: flex-start;
                                                width: 100%;

                                                span {
                                                    svg.check-mark {}

                                                    svg.inline-svg {
                                                        symbol {}
                                                    }
                                                }

                                                a.label-link {}
                                            }
                                        }
                                    }
                                }
                            }


                        }

                    }

                }
            }

        }
    }
}
